<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheResult="false" processIsolation="false">
    <testsuites>
        <testsuite name="All">
            <directory>./tests/</directory>
            <exclude>./tests/Integration/PerformanceCacheTest.php</exclude>
            <exclude>./tests/Integration/PerformanceKeyTest.php</exclude>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/Unit/</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>./tests/Functional/</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./tests/Integration/</directory>
            <exclude>./tests/Integration/PerformanceCacheTest.php</exclude>
            <exclude>./tests/Integration/PerformanceKeyTest.php</exclude>
        </testsuite>
    </testsuites>
    <php>
        <env name="MEMCACHE_HOST" value="localhost:11211"/>
        <env name="REDIS_HOST" value="localhost:6379"/>
    </php>
</phpunit>